.hero{
    @apply flex flex-col  bg-black items-center w-full h-[800px];
}

.hero_container{
    @apply flex flex-col relative items-center justify-center w-full desktop:max-w-[1200px] h-full gap-y-14 ;
    background-image: url('./assets/backgroundLegassy.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}